## Settings file was created by plugin MiningCaves v1.0.3
## Plugin GUID: com.orianaventure.mod.MiningCaves

[General]

## True to allow admins to bypass settings (boolean) [Synced with Server]
# Setting type: Boolean
# Default value: false
AdminBypass = false

## True to restrict actions that would alter the terrain such as mining or flattening (boolean) [Synced with Server]
# Setting type: Boolean
# Default value: false
LockTerrain = false

## Prefab names of items to ignore for the terrain locking feature (comma-separated) [Synced with Server]
# Setting type: String
# Default value: 
LockTerrainIgnoreItems = 

## True to always remove the wishbone ping from silver veins (boolean) [Synced with Server]
# Setting type: Boolean
# Default value: false
RemoveSilverWishbonePing = false

[Generation]

## Amount of CopperTinCave to attempt to place during world generation (integer) [Not Synced with Server]
# Setting type: Int32
# Default value: 50
CopperTinCaveAmount = 50

## Amount of SilverCave to attempt to place during world generation (integer) [Not Synced with Server]
# Setting type: Int32
# Default value: 50
SilverCaveAmount = 50

## Amount of TarCave to attempt to place during world generation (integer) [Not Synced with Server]
# Setting type: Int32
# Default value: 50
TarCaveAmount = 0

