## Settings file was created by plugin TamingTools v0.0.2
## Plugin GUID: meldurson.TamingTools

[1:General]

## Determines if debug is output to bepinex log [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Debug Output = false

## Use a taming equipment that helps with calming or seeing more stats of a creature [Synced with Server]
# Setting type: Boolean
# Default value: true
useTamingMead = true

## Use taming foods that can be used to speed up taming if fed to creatures [Synced with Server]
# Setting type: Boolean
# Default value: true
useTamingFoods = true

## Use taming equipment that gives buffs to taming or tamed creatures [Synced with Server]
# Setting type: Boolean
# Default value: true
useTamingEquipment = true

[5: Recipes]

## What is the recipe for crafting the Basic Food, separate amount with : and different items with , [Synced with Server]
# Setting type: String
# Default value: MeadTasty:1,MushroomYellow:3,LeatherScraps:1
T1Food Recipe = MeadTasty:1,MushroomYellow:3,LeatherScraps:1

## What is the required Crafting Station and Level, separated by a : such as piece_workbench:3 would be lvl 3 Workbench (vanilla stations are: piece_workbench, forge, piece_cauldron, piece_stonecutter, piece_artisanstation, blackforge, piece_magetable, piece_MeadCauldron, piece_preptable [Synced with Server]
# Setting type: String
# Default value: piece_cauldron:1
T1Food Station = piece_cauldron:1

## What is the recipe for crafting the Superior Food, separate amount with : and different items with , [Synced with Server]
# Setting type: String
# Default value: MeadHealthMedium:6,BarleyFlour:10,DragonTear:1
T2Food Recipe = MeadHealthMedium:6,BarleyFlour:10,DragonTear:1

## What is the required Crafting Station and Level, separated by a : such as piece_workbench:3 would be lvl 3 Workbench (vanilla stations are: piece_workbench, forge, piece_cauldron, piece_stonecutter, piece_artisanstation, blackforge, piece_magetable, piece_MeadCauldron, piece_preptable [Synced with Server]
# Setting type: String
# Default value: piece_preptable:1
T2Food Station = piece_preptable:1

## What is the recipe for crafting the Excellent Food, separate amount with : and different items with , [Synced with Server]
# Setting type: String
# Default value: MeadEitrMinor:4,MeadHealthMajor:2,Fish9:1,MushroomMagecap:5
T3Food Recipe = MeadEitrMinor:4,MeadHealthMajor:2,Fish9:1,MushroomMagecap:5

## What is the required Crafting Station and Level, separated by a : such as piece_workbench:3 would be lvl 3 Workbench (vanilla stations are: piece_workbench, forge, piece_cauldron, piece_stonecutter, piece_artisanstation, blackforge, piece_magetable, piece_MeadCauldron, piece_preptable [Synced with Server]
# Setting type: String
# Default value: piece_cauldron:5
T3Food Station = piece_cauldron:5

## What is the recipe for crafting the Taming Mead, separate amount with : and different items with , [Synced with Server]
# Setting type: String
# Default value: TrophyWolf:3,BarleyFlour:5,RawMeat:5,Honey:10
TamingMead Recipe = TrophyWolf:3,BarleyFlour:5,RawMeat:5,Honey:10

## What is the required Crafting Station and Level, separated by a : such as piece_workbench:3 would be lvl 3 Workbench (vanilla stations are: piece_workbench, forge, piece_cauldron, piece_stonecutter, piece_artisanstation, blackforge, piece_magetable, piece_MeadCauldron, piece_preptable [Synced with Server]
# Setting type: String
# Default value: piece_MeadCauldron:1
TamingMead Station = piece_MeadCauldron:1

## What is the recipe for crafting the Bestial Robe, separate amount with : and different items with , [Synced with Server]
# Setting type: String
# Default value: TrophyGreydwarfShaman:2:1,Root:5,BjornHide:5,Honey:10:10
Bestial Robe Recipe = TrophyGreydwarfShaman:2:1,Root:5,BjornHide:5,Honey:10:10

## What is the required Crafting Station and Level, separated by a : such as piece_workbench:3 would be lvl 3 Workbench (vanilla stations are: piece_workbench, forge, piece_cauldron, piece_stonecutter, piece_artisanstation, blackforge, piece_magetable, piece_MeadCauldron, piece_preptable [Synced with Server]
# Setting type: String
# Default value: piece_workbench:2
Bestial Robe Station = piece_workbench:2

