## Settings file was created by plugin CreatureGenetics v0.0.3
## Plugin GUID: meldurson.CreatureGenetics

[1:General]

## Determines if debug is output to bepinex log [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Debug Output = false

## Determines if debug for Genetics calculations is output to bepinex log (LOTS of lines of debug!) [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Debug Genetics Calculations = false

## Determines if you want to use an external YML for setting your tames or just use the defaults given in the mod [Not Synced with Server]
# Setting type: Boolean
# Default value: false
Use External YML = false

[3.0:Custom Procreation]

## Determines if you want to use a DNA system for colors [Synced with Server]
# Setting type: Boolean
# Default value: true
Use Color DNA = true

## Determines if you want to use a DNA system for physical traits (Health,Speed,Defense,Size,etc.) [Synced with Server]
# Setting type: Boolean
# Default value: true
Use Trait DNA = true

## Determines if you want to only have color dna change the brightness and not RGB [Synced with Server]
# Setting type: Boolean
# Default value: false
Only have Brightness Changes = false

## Determines max drop multiplier in DNA [Synced with Server]
# Setting type: Single
# Default value: 3
Maximum Drop Multiplier for DNA = 3

## Determines max productivity chance multiplier in DNA [Synced with Server]
# Setting type: Single
# Default value: 3
Maximum Productivity Speed Multiplier for DNA = 3

## Determines how random the wild creatures DNA will be or how likely the DNA will be further away from normal (number is in percent, maximum is 50 or 50%) [Synced with Server]
# Setting type: Int32
# Default value: 15
Wild DNA Variance = 15

## Determines the maximum random change a trait can have when breeding, this decreases as you get close the the maximum or minimum (number is in percent, minimum is 1  or 1%) [Synced with Server]
# Setting type: Int32
# Default value: 5
Breeding DNA Variance = 5

## Determines the maximum size that a creature can get with variation to size (useful if needed for compatibility with other mods) The maximum range is 0.25-2 [Synced with Server]
# Setting type: Single
# Default value: 2
Maximum Size for DNA = 2

## Determines the minimum size that a creature can get with variation to size (useful if needed for compatibility with other mods) The maximum range is 0.25-2 [Synced with Server]
# Setting type: Single
# Default value: 0.25
Minimum Size for DNA = 0.25

[3.1:Mutation]

## Determines if you want a chance for the lvl of an offspring to mutate when breeding [Synced with Server]
# Setting type: Boolean
# Default value: true
Allow mutation of Level = true

## Determines the chance the level will mutate when breeding (5 is 5%, 100 is 100%) [Synced with Server]
# Setting type: Single
# Default value: 5
Level Mutation Chance = 5

## When a creature mutates it has a possibility of the level going up, this is a cap so the level cannot go above this, -1 is no cap [Synced with Server]
# Setting type: Int32
# Default value: -1
Maximum Mutation Level = -1

## Determines if you want a chance for the effects to mutate when breeding (CLLC,MonsterModifiers,SLS) [Synced with Server]
# Setting type: Boolean
# Default value: true
Allow mutation of Special Effects = true

## Determines the chance the special effects will mutate when breeding (5 is 5%, 100 is 100%) [Synced with Server]
# Setting type: Single
# Default value: 5
Effects Mutation Chance = 5

[4: Recipes]

## What is the recipe for crafting the Genetics Hat, separate initial amount and upgrade amounts with : and different items with , [Synced with Server]
# Setting type: String
# Default value: Iron:6:3,TrophyDraugr:1,Root:10:3,DeerHide:15:5
Genetics Hat Recipe = Iron:6:3,TrophyDraugr:1,Root:10:3,DeerHide:15:5

## What is the required Crafting Station and Level, separated by a : such as piece_workbench:3 would be lvl 3 Workbench (vanilla stations are: piece_workbench, forge, piece_cauldron, piece_stonecutter, piece_artisanstation, blackforge, piece_magetable, piece_MeadCauldron, piece_preptable [Synced with Server]
# Setting type: String
# Default value: piece_workbench:4
Genetics Hat Station = piece_workbench:4

